.container {
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  
   box-sizing: border-box;
  background-image: url(/bg.png);
  background-position: center;
   background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.mainCon {
  height: 100%;
  width: 100%;
  background: transparent;
  backdrop-filter: blur(5px);
  position: relative;
  box-sizing: border-box;
   display: flex;
  align-items: center;
  justify-content: center;
}
.nav {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0 2vw 0 0;
  display: flex;
  align-items: center;
  z-index: 999;
}
